

<div class="jumbotron-wrap text-center col-lg-12"><!--image-->
  <div class="jumbotron jumbotron-home" id="jumbo-home-background"></div>
  <div><h1>Welcome to the finance tracker app</h1></div>
</div>    
