
<div id='spinner' class='row col-md-12 text-center spinner' style='display: none;'>
    <i class='fa fa-spinner fa-spin fa-2x'></i> ...waiting sucks...
</div>

<!--style='display: none;' is the default display.  Add js code(for entire app: application.js) to determine when/when-not to call spinner -->